<div class="list_index_main">
    <%= link_to "Go back home", lists_home_path, class: "btn btn-outline-dark m-3" %>
    <h1>All lists:</h1>
    <div class="list_cards_box">
    <% @lists.each do |list| %>
      <div class="cardd" style="width: 140px; height:140px; background: url(<%= list.photo_url %>); background-size: cover; ">
        <p><%= link_to list.name, list_path(list), class: "btn btn-outline-light" %></p>
      </div>
    <% end %>
    <div class="cardd" style="width: 140px; height:140px; background-color: transparent; padding-top: 30px; box-shadow: none;">
      <p><%= link_to "Create a new list", lists_new_path, class: "btn btn-outline-dark" %></p>
    </div>

  </div>
</div>
